body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

section {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

div {
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    margin-bottom: 10px;
}

p {
    margin: 0;
}

.author {
    font-style: italic;
    text-align: right;
}